<h1>New Game</h1>
<div class = "letter">
    <% @letters.each do |letter| %>
    <p><%= letter.capitalize %></p>
    <% end %>
</div>
<div class = "userinput">
  <form action="results" data-turbo="false">
    <input type="text" name="answer">
    <input type="submit" value="Play!">
    <%= hidden_field_tag 'letters', @letters %>
  </form>
  <div>
    <p><%= params[:answer] %></p>
  </div>


</div>
